<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple Blog{% endblock %}</title>
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% url 'index' as index %}

    {% block content %}
    {% endblock %}

    {% if request.path != index %}
        {% include 'snippets/back_to_home.html' %}
    {% endif %}
</body>
</html>